<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/users/<%= user._id %>/changepassword">
      <%= user %><%= user[0].name %>
      <input type="password" placeholder="enter new password" name="password" />
      <button type="submit">change password</button>
    </form>
  </body>
</html>
