<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>document</h1>
    <h2>filter by date</h2>
    <form action="/dashboard/filterdate" method="POST">
      <input type="date" placeholder="startdate" name="startDate" />
      <input type="date" placeholder="enddate" name="endDate" />
      <button type="submit">search</button>
    </form>
  </body>
</html>
