<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <a href="/dashboard">Dashboard</a>
      </div>
      <nav>
        <ul class="ul">
          <li>
            <a href="/expenses"
              ><button type="submit" class="btn1">Add Expense</button></a
            >
          </li>
          <li>
            <a href="/incomes"
              ><button type="submit" class="btn1">Add Income</button></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <h1>you can add multiple income and expenses</h1>
  </body>
</html>
