body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(48, 48, 105);
}
.ul {
  display: flex;
  justify-content: space-between;
}
.ul button {
  margin-left: 12px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#833ab4, #457cb9);
}
.title {
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: sans-serif;
}
.btn1 {
  background-color: rgb(133, 39, 57);
  color: black;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  border-color: rgb(223, 120, 138);
}
.login-section {
  text-align: center;
  margin: 20px;
}
.box {
  width: 400px;
  margin: 20px auto;
  background-color: rgb(48, 48, 105);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.input {
  width: 90%;
  margin: 15px 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.input:focus {
  background-color: skyblue;
}
.btn2 {
  background-color: rgb(199, 22, 54);
  color: black;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  width: 90%;
  border: none;
}
